
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="Sistema Administrativo de Evaluación de Protocolos de Seguridad - PRY20220254" content="width=device-width" />
    <title>Restablecer Clave en PRY20220254</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Imagen de muestra - Iniciar sesión en PRY20220254">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="@Url.Action("RestablecerClave", "Acceso")" method="post">

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Reestrablecer contraseña</p>
                        </div>

                        <input class="form-control" type="hidden" value="@Session["idusuario"]" name="idusuario" />

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="correo" class="form-control form-control-lg"
                                   placeholder="Ingresa tu email" />
                        </div>

                        

                        @{
                            if (ViewBag.Error != null)
                            {
                                <!-- Alert input -->
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                        }

                        <div class="text-center text-lg-start d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Enviar
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                <a href="@Url.Action("Index", "Acceso")"
                                   class="link-danger">Volver</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
            <!-- Copyright -->
            <!--<div class="text-white mb-3 mb-md-0">
                Copyright &copy; 2023 PRY20220254.
                Todos los derechos reservados. Seguridad de la Información |
                Gestión Avanzada de Ciberseguridad
            </div>-->
            <!-- Copyright -->

        <!--</div>-->
    </section>
</body>
</html>
